@attribute [StreamRendering]
@inject NavigationManager Navigation

<PageTitle>Adicionar nova cidade</PageTitle>

<EditForm Model="@Model" OnValidSubmit="AddCityAsync">
    <DataAnnotationsValidator />
<div class="mb-3">
        <label class="form-label">UF</label>
        <InputText id="UF" type="text" class="form-control" @bind-Value="Model.State"/>
        <ValidationMessage For="@(() => Model.State)" />
    </div>

    <div class="mb-3">
        <label class="form-label">Nome</label>
        <InputText id="CityName" type="text" class="form-control" @bind-Value="Model.City"/>
        <ValidationMessage For="@(() => Model.City)" />
    </div>

    <button class="btn btn-success" type="submit">
        SAVE
    </button>
</EditForm>

<br/>

@if (_success == true)
{
    <div class="alert alert-success" role="alert" >
        Registro adicionado com sucesso!
    </div>
}

@if (_success == false)
{
    <div class="alert alert-danger" role="alert">
        Algo deu errado!
    </div>
}

@code {
    private CreateCityModelViewModel Model { get; set; } = new();
    private bool? _success = null;

    public async Task AddCityAsync()
    {

        var newCity = new CityModel
        {
            City = Model.City,
            State = Model.State
        };

        var client = new RestClient();
        var request = new RestRequest($"{RoutesConfiguration.PostNewCity}")
            .AddJsonBody(newCity);

        try
        {
            var city = await client.PostAsync(request);
            if (city.IsSuccessStatusCode)
            {
                _success = true;
                Model.City = String.Empty;
                Model.State = String.Empty;
            }
        }
        catch
        {
            _success = false;
        }
    }
}
